<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="1" name="Test">
		<classes>
			<!--class name="app.com.vilcart.app.ReadLogin"/-->
			<!--class name="app.com.vilcart.app.test.CustomerCreation" /-->
			<class name="app.com.vilcart.app.customer.Customer_001"></class>
			<class name="app.com.vilcart.app.sku.Sku_001"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->