<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1">

	<test thread-count="1" name="Customer">
		<classes>
			<class name="app.com.vilcart.app.customer.Customer_001">
				<methods>
					<include name="createCustomerFlow" />
					<exclude name="verifyCustomerListFlow" />
					<exclude name="deleteCustomerFlow" />
				</methods>
			</class>
		</classes>
	</test>
	
	<test thread-count="1" name="placeorder">
		<classes>
			<class name="app.com.vilcart.app.placeorder.PlaceOrder_001">
				<methods>
					<include name="createSku" />
					<exclude name="skuInList" />
					<exclude name="createCustomerFlow" />
					<exclude name="verifyCustomerListFlow" />
					<exclude name="placeOrderFlow" />
					<exclude name="deleteCustomerFlow" />
					<exclude name="deleteSku" />
				</methods>
			</class>
		</classes>
	</test>
	<!--
	<test thread-count="1" name="sku">
		<classes>
			<class name="app.com.vilcart.app.sku.Sku_001">
				<methods>
					<exclude name="createSku" />
					<exclude name="skuInList" />
					<exclude name="deleteSku" />
				</methods>
			</class>
		</classes>
	</test>
	<test thread-count="1" name="goods">
		<classes>
			<class name="app.com.vilcart.app.goods.GoodsReceive_001">
				<methods>
					<include name="createSku" />
					<include name="skuInList" />
					<include name="GoodsReceive" />
					<include name="deleteSku" />
				</methods>
			</class>
			<class name="app.com.vilcart.app.goods.GoodsTransfer_001">
				<methods>
					<include name="createSku" />
					<include name="skuInList" />
					<include name="GoodsTransfer" />
					<include name="deleteSku" />
				</methods>
			</class>
		</classes>
	</test> -->
	<!-- Test -->

</suite> <!-- Suite -->