<!-- https://mkyong.com/logging/logback-xml-example/ -->

<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<property name="LOG_PATH" value="./logs" />
	<property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
	<timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss" />

	<appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] %highlight(%-5level) %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="File-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/logfile-${timestamp-by-second}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- each archived file, size max 1MB -->
			<!--maxFileSize>1MB</maxFileSize-->
			<!-- total size of all archive files, if total size > 1GB, it will delete old archived file -->
			<totalSizeCap>10MB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>1</maxHistory>
			<!-- https://stackoverflow.com/questions/54680434/the-old-log-files-didnt-get-removed-when-using-logback-rollingfileappender -->
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] %highlight(%-5level) %logger{36} - %msg%n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<!--https://www.baeldung.com/logback-send-email-->
	<!--appender name="emailAppenderGmail" class="ch.qos.logback.classic.net.SMTPAppender">
		<smtpHost>smtp.gmail.com</smtpHost>
		<smtpPort>587</smtpPort>
		<STARTTLS>true</STARTTLS>
		<asynchronousSending>false</asynchronousSending>
		<username>suhailsqm@gmail.com</username>
		<password>123456</password>
		<to>chidukhot@gmail.com</to>
		<from>suhailsqm@gmail.com</from>
		<subject>FirstTestNG: %logger{20} - %msg</subject>
		<layout class="ch.qos.logback.classic.html.HTMLLayout" />
	</appender-->

	<!--appender name="emailAppender" class="ch.qos.logback.classic.net.SMTPAppender">
		<smtpHost>smtp.gmail.com</smtpHost>
		<smtpPort>587</smtpPort>
		<STARTTLS>true</STARTTLS>
		<asynchronousSending>false</asynchronousSending>
		<username>suhailsqm@gmail.com</username>
		<password>123456</password>
		<to>chidukhot@gmail.com</to>
		<from>suhailsqm@gmail.com</from>
		<subject>FirstTestNG: %logger{20} - %msg</subject>
		<layout class="ch.qos.logback.classic.html.HTMLLayout" />
	</appender-->

	<!--logger name="app.com.vilcart.app.test" level="trace"-->
	<!--https://stackoverflow.com/questions/32060562/logger-level-setting-for-entire-package-hierarchy-->
	<logger name="app" level="trace">
		<appender-ref ref="File-Appender" />
	</logger>

	<root level="trace">
		<appender-ref ref="Console-Appender" />
		<appender-ref ref="emailAppender" />
	</root>
</configuration> 